---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Rui Hu - About";
const path = Astro.site.pathname;

---
<BaseLayout title={title}>
  <div class="flex flex-row flex-wrap justify-between">
    <div class="max-w-md text-justify">
      <p class="mb-8">Rui Hu (1995, China), graduated from Design Academy Eindhoven, department Public-Private in 2019. In 2022, she finised her master's study in Industrial Design department at the Eindhoven University of Technology.</p>
      <p>During her master's study, she further developed herself in UX design, future design, and design for/with emerging technology.</p>
    </div>
    <img src={path + "/images/zoe.png"} class="">
  </div>
</BaseLayout>