---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "About";

---
<BaseLayout pageTitle={title}>
  <div class="grid grid-cols-1 md:grid-cols-12 max-w-sm md:max-w-none mx-auto gap-y-10 sm:gap-y-24">
    <div class="md:col-span-5 lg:col-span-4 text-justify text-xl">
      <p class="mb-8">Rui Hu (1995, China), graduated from Design Academy Eindhoven, department Public-Private in 2019. In 2022, she finished her master's study in Industrial Design department at the Eindhoven University of Technology.</p>
      <p>During her master's study, she further developed herself in UX design, future design, and design for/with emerging technology.</p>
    </div>
    <div class="md:col-span-4 md:col-start-9 max-w-sm md:max-w-none">
      <img src="/images/about/zoe.png" class="">
    </div>
  </div>
</BaseLayout>