---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "About";

---
<BaseLayout pageTitle={title}>
  <div class="grid grid-cols-1 lg:grid-cols-zoe">
    <div class="lg:col-span-1 text-justify text-xl mb-10">
      <p>Rui Hu (1995, China) graduated from Design Academy Eindhoven, department Public-Private in 2019. In 2022, she finished her master's study in Industrial Design department at the Eindhoven University of Technology.</p>
      <p><br/></p>
      <p>During her master's study, she further developed herself in UX design, future design, and design for/with emerging technology.</p>
      <p><br/></p>
      <p class="italic">As a designer, I am a visual thinker who always wants to make something with my hands. My strength shines the most at two points: translate ideas into tangible design, and coordinate user involvement during the design process. My design interest lies in unveiling aesthetics from mundane daily activity and envisioning how technology could shape our everyday life. New technology brings new scenarios and challenges. As the technology we are facing today becomes smarter, the upcoming scenarios and challenges become more complex and wicked. I see design as the practice that can bridge people and technology. Through making, envisioning, and experiencing I want to create meaningful integrations of technology in our daily life.</p>

      <div class="flex flex-row justify-between mt-8 align-middle">
        <a href="https://www.linkedin.com/in/rui-hu-629155119/" target="_blank">
          <img src="/images/about/linkedin-black.png" class="ml-auto w-8">
        </a>
        <p class="font-bold underline text-right">
          <a href="/documents/CV.pdf" target="_blank">Download my CV</a>
        </p>
      </div>
    </div>
    <div class="lg-col-span-1 lg:col-start-3">
      <img src="/images/about/zoe.png" class="ml-auto lg:w-96">
    </div>
  </div>
</BaseLayout>