---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Rui Hu - Home";
const path = Astro.site.pathname;

---
<BaseLayout title={title}>
  <div class="flex flex-row flex-wrap justify-between">
    <div class="mb-5 w-fit">
      <h2 class="text-4xl sm:text-5xl md:text-6xl leading-tight sm:leading-tight md:leading-tight font-bold">/UX Design</h2>
      <h2 class="text-4xl sm:text-5xl md:text-6xl leading-tight sm:leading-tight md:leading-tight font-bold">/Creative Research</h2>
      <h2 class="text-4xl sm:text-5xl md:text-6xl leading-tight sm:leading-tight md:leading-tight font-bold">/Product Design</h2>
      <h2 class="text-4xl sm:text-5xl md:text-6xl leading-tight sm:leading-tight md:leading-tight font-bold">/Future Design</h2>
    </div>
    <img src="./images/open-model-with-posters.png" class="">
  </div>
</BaseLayout>