---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Home";

---
<BaseLayout pageTitle={title}>
  <div class="grid grid-cols-1 lg:grid-cols-zoe">
    <div class="lg:col-span-2 mb-10">
      <h2 class="text-4xl sm:text-5xl leading-tight sm:leading-tight font-bold">/UX Design</h2>
      <h2 class="text-4xl sm:text-5xl leading-tight sm:leading-tight font-bold">/Creative Research</h2>
    </div>
    <div class="lg:col-span-1">
      <a href="/work/future-supermarket">
        <img src="/images/home/open-model-with-posters.png">
      </a>
    </div>
  </div>
</BaseLayout>