---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Home";

---
<BaseLayout pageTitle={title}>
  <div class="grid gap-y-5 sm:gap-y-10 grid-cols-1 lg:grid-cols-12">
    <div class="col-span-1 lg:col-span-7">
      <h2 class="text-4xl sm:text-5xl md:text-6xl leading-tight sm:leading-tight md:leading-tight font-bold">/UX Design</h2>
      <h2 class="text-4xl sm:text-5xl md:text-6xl leading-tight sm:leading-tight md:leading-tight font-bold">/Creative Research</h2>
    </div>
    <div class="col-span-1 lg:col-span-5">
      <img src="/images/open-model-with-posters.png">
    </div>
  </div>
</BaseLayout>