---
// Component Imports
import Tour from '../components/Tour.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
</head>
<body class="p-5">
  <header class="flex flex-row justify-between mb-60 md:max-w-xl">
    <h1 class="text-xl font-bold">Rui Hu</h1>
    <nav class="flex space-x-14">
      <a class="text-xl">Work</a>
      <a class="text-xl">About</a>
    </nav>
  </header>
  <main class="sm:mx-14 grid grid-cols-1 xl:grid-cols-12">
    <div class="mb-5 xl:col-span-6">
      <h2 class="text-4xl sm:text-5xl md:text-6xl leading-tight sm:leading-tight md:leading-tight font-bold">/UX Design</h2>
      <h2 class="text-4xl sm:text-5xl md:text-6xl leading-tight sm:leading-tight md:leading-tight font-bold">/Creative Research</h2>
      <h2 class="text-4xl sm:text-5xl md:text-6xl leading-tight sm:leading-tight md:leading-tight font-bold">/Product Design</h2>
      <h2 class="text-4xl sm:text-5xl md:text-6xl leading-tight sm:leading-tight md:leading-tight font-bold">/Future Design</h2>
    </div>
    <div class="bg-red-400 h-60 xl:col-span-6"></div>
  </main>
</body>
</html>
