---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Work";

---
<BaseLayout pageTitle={title}>
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-x-10 gap-y-10 sm:gap-y-24">
    <div class="flex flex-col justify-start pb-5 lg:col-span-6 sticky top-[76px] bg-white">
      <h2 class="text-3xl sm:text-4xl underline leading-relaxed">UX/UI Design</h2>
      <h2 class="text-3xl sm:text-4xl underline leading-relaxed">Creative Research</h2>
    </div>
    <img src="/images/work/future-supermarket.png" class="lg:col-span-6">
    <a href="/work/bord" class="lg:col-span-6 lg:col-start-7">
      <img src="/images/work/bord.png">
    </a>
    <img src="/images/work/ai-human.png" class="lg:col-span-6 lg:col-start-7">
    <img src="/images/work/crate.jpg" class="lg:col-span-6 lg:col-start-7">
    <img src="/images/work/caena.png" class="lg:col-span-6 lg:col-start-7">
    <img src="/images/work/dig-and-build.jpg" class="lg:col-span-6 lg:col-start-7">
    <img src="/images/work/obel.jpg" class="lg:col-span-6 lg:col-start-7">
  </div>
</BaseLayout>