---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Rui Hu - Work";

---
<BaseLayout title={title}>
  <div class="grid grid-cols-1 md:grid-cols-12 md:h-max gap-x-10 gap-y-24">
    <div class="md:col-span-6 lg:col-span-4 sticky top-20 bg-white">
      <h2 class="text-4xl underline leading-relaxed">UX/UI Design</h2>
      <h2 class="text-4xl underline leading-relaxed">Creative Research</h2>
      <h2 class="text-4xl underline leading-relaxed">Product Design</h2>
      <h2 class="text-4xl underline leading-relaxed">Future Design</h2>
    </div>
    <img src="/images/supermarket-model-with-booklet.png" class="md:col-span-6 lg:col-span-8">
    <img src="/images/supermarket-model-with-booklet.png" class="md:col-span-6 md:col-start-7 lg:col-span-8 lg:col-start-5">
    <img src="/images/supermarket-model-with-booklet.png" class="md:col-span-6 md:col-start-7 lg:col-span-8 lg:col-start-5">
    <img src="/images/supermarket-model-with-booklet.png" class="md:col-span-6 md:col-start-7 lg:col-span-8 lg:col-start-5">
    <img src="/images/supermarket-model-with-booklet.png" class="md:col-span-6 md:col-start-7 lg:col-span-8 lg:col-start-5">
    <img src="/images/supermarket-model-with-booklet.png" class="md:col-span-6 md:col-start-7 lg:col-span-8 lg:col-start-5">
    <img src="/images/supermarket-model-with-booklet.png" class="md:col-span-6 md:col-start-7 lg:col-span-8 lg:col-start-5">
    <img src="/images/supermarket-model-with-booklet.png" class="md:col-span-6 md:col-start-7 lg:col-span-8 lg:col-start-5">
    <img src="/images/supermarket-model-with-booklet.png" class="md:col-span-6 md:col-start-7 lg:col-span-8 lg:col-start-5">
    <img src="/images/supermarket-model-with-booklet.png" class="md:col-span-6 md:col-start-7 lg:col-span-8 lg:col-start-5">
    <img src="/images/supermarket-model-with-booklet.png" class="md:col-span-6 md:col-start-7 lg:col-span-8 lg:col-start-5">

  </div>
</BaseLayout>