---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Work";

---
<BaseLayout pageTitle={title}>
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-x-10 gap-y-10 sm:gap-y-24">
    <div class="flex flex-col justify-start pb-5 lg:col-span-6 sticky top-[76px] bg-white">
      <h2 class="text-3xl sm:text-4xl underline leading-relaxed">UX/UI Design</h2>
      <h2 class="text-3xl sm:text-4xl underline leading-relaxed">Creative Research</h2>
    </div>
    <a href="/work/future-supermarket" class="lg:col-span-6 lg:col-start-7">
      <img src="/images/work/future-supermarket.png">
    </a>
    <a href="/work/bord" class="lg:col-span-6 lg:col-start-7">
      <img src="/images/work/bord.png">
    </a>
    <a href="/work/coperforming-with-ai" class="lg:col-span-6 lg:col-start-7">
      <img src="/images/work/ai-human.png">
    </a>
    <a href="/work/crate" class="lg:col-span-6 lg:col-start-7">
      <img src="/images/work/crate.jpg">
    </a>
    <a href="/work/caena" class="lg:col-span-6 lg:col-start-7">
      <img src="/images/work/caena.png">
    </a>
    <a href="/work/dig-and-build" class="lg:col-span-6 lg:col-start-7">
      <img src="/images/work/dig-and-build.jpg">
    </a>
    <a href="/work/obell" class="lg:col-span-6 lg:col-start-7">
      <img src="/images/work/obell.jpg">
    </a>
  </div>
</BaseLayout>