---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Work";

---
<BaseLayout pageTitle={title}>
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-x-10 gap-y-24">
    <div class="flex flex-row justify-between lg:flex-col lg:justify-start py-5 lg:col-span-6 sticky top-[76px] bg-white">
      <h2 class="text-2xl sm:text-3xl lg:text-4xl underline leading-relaxed">UX/UI Design</h2>
      <h2 class="text-2xl sm:text-3xl lg:text-4xl underline leading-relaxed">Creative Research</h2>
    </div>
    <img src="/images/supermarket-model-with-booklet.png" class="lg:col-span-6">
    <img src="/images/supermarket-model-with-booklet.png" class="lg:col-span-6 lg:col-start-7">
    <img src="/images/supermarket-model-with-booklet.png" class="lg:col-span-6 lg:col-start-7">
    <img src="/images/supermarket-model-with-booklet.png" class="lg:col-span-6 lg:col-start-7">
    <img src="/images/supermarket-model-with-booklet.png" class="lg:col-span-6 lg:col-start-7">
    <img src="/images/supermarket-model-with-booklet.png" class="lg:col-span-6 lg:col-start-7">
    <img src="/images/supermarket-model-with-booklet.png" class="lg:col-span-6 lg:col-start-7">
    <img src="/images/supermarket-model-with-booklet.png" class="lg:col-span-6 lg:col-start-7">
    <img src="/images/supermarket-model-with-booklet.png" class="lg:col-span-6 lg:col-start-7">
    <img src="/images/supermarket-model-with-booklet.png" class="lg:col-span-6 lg:col-start-7">
    <img src="/images/supermarket-model-with-booklet.png" class="lg:col-span-6 lg:col-start-7">

  </div>
</BaseLayout>