<div class="flex flex-row justify-between lg:justify-start items-center mt-24 lg:mt-48 mb-5 lg:col-span-3">
    <div class="border-t-2 flex-grow w-1/3 lg:flex-none lg:w-[36.4%] border-black "></div>
    <h2 class="text-4xl ml-20 lg:ml-[13.6%] text-right lg:text-left font-bold"><slot /></h2>
</div>