---
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectHeader from '../../components/ProjectHeader.astro';
import ProjectOverview from '../../components/ProjectOverview.astro';
import ProjectParagraph from '../../components/ProjectParagraph.astro';
import ProjectVideo from '../../components/ProjectVideo.astro';

const title = "BORD";

---
<BaseLayout pageTitle={title}>
  <div class="grid grid-cols-1 lg:grid-cols-project">
    <ProjectOverview title={title} image="/images/work/bord.png">
      <div slot="highlights">
        <p><strong>Group</strong> design project</p>
        <p><strong>Project date:</strong> Feb 2020 - Jun 2020</p>
        <p><strong>Client:</strong> United Streets of Nuenen</p>
      </div>
      <div slot="summary">
        <p>This project aims to explore the future living scenarios with home IoT appliances, with the focus on how home IoT can contribute to prepare and assist the future elderly to live in their own home for a longer time.</p>
        <p><br /></p>
        <p>A vital part in elderly's routine who lived independent is doing groceries. For relatively younger elderly who are in a physical and mental good condition, doing groceries is a daily routine to keep active during their retirement. But for elderly with less physical abilities, they might experience difficulties during grocery shopping or even have to give up this activity. The impression of not having the physical ability to do your groceries, affects the way of independent living and higher level of satisfaction in elderly’s daily life.</p>
        <p><br/></p>
        <p>BORD is designed for middle-aged users who are still living with their children. As a smart grocery assistant, BORD can help the whole family to plan and to have an overview of their food-related activities. Grocery plan, meal plan, dinner attendance, food storage, etc. Family members can also use it as a communication board in the kitchen. Once the children move away, BORD can still be used in separate households. The elderly can use BORD to plan dinner events and children can use BORD to assist the elderly with daily grocery in a non-intrusive way.</p>
      </div>
    </ProjectOverview>

    <ProjectHeader>Research</ProjectHeader>

    <ProjectHeader>Scenario Exploration</ProjectHeader>

    <ProjectHeader>Design Exploration</ProjectHeader>

    <ProjectHeader>Final Design</ProjectHeader>
    <ProjectParagraph>
      The final design consists of a writeable (digital) blackboard, phone App, barcode scanners(can be placed freely around the whole house), and a digital writing pen. BORD can be connected with other smart appliances like the coffee machine and washing machines, so when coffee beans and detergent are low in stock BORD could add them to the list automatically.
    </ProjectParagraph>

    <ProjectVideo youtubeId="l-XGThb1SrI"></ProjectVideo>    
  </div>
</BaseLayout>