---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectHeader from '../../components/ProjectHeader.astro';
import ProjectOverview from '../../components/ProjectOverview.astro';
import ProjectParagraph from '../../components/ProjectParagraph.astro';
import ProjectVideo from '../../components/ProjectVideo.astro';

const title = "Dig & Build";

---
<BaseLayout pageTitle={title}>
  <div class="grid grid-cols-1 lg:grid-cols-zoe">
    <ProjectOverview title={title} image="/images/work/dig-and-build/header.png">
      <div slot="highlights">
        <p><strong>Individual</strong> design project</p>
        <p><strong>Project date:</strong> Feb 2018 - Jul 2018</p>
        <p><strong>Client:</strong> Province Drenthe</p>
      </div>
      <div slot="summary">
        <p>This project is framed by Hans van der Markt and the Province Drenthe. The project starts with researching about the narrative and the space separately, then merge the narrative and the space together to create a new narrative. The goal of this project is to create inspirational materials for the province that can be used to create new experiences on the N34 highway, for both the drivers and residents in the neighborhood.</p>
      </div>
    </ProjectOverview>

    <ProjectHeader>The Narrative</ProjectHeader>
    <ProjectParagraph>
      He-y come on out' by Hoshi Shinichi is a short fictional novel. The novel takes a social criticism perspective, shows the conflict between nature and human development. To analyze the narrative, I first break down all the text by the structure of the novel. Then I extra the unique writing style of the writer, and the two main conflictions exist in the story.  As the result of my narrative study, the content gets translated into two groups of objects to visualize the events around the main character in the story: a fictional hole on the ground. One represents the change in nature, the other represents the human development. To make the objects readable as a continuative narrative and independent from the original story, each object has given a name.
    </ProjectParagraph>
    <img src="/images/work/dig-and-build/structure.png" class="lg:col-span-1">
    <img src="/images/work/dig-and-build/structure-pic.png" class="mb-5 lg:mb-24 lg:col-span-1 lg:col-start-1">
    <img src="/images/work/dig-and-build/booklets.png" class="mb-5 lg:mb-24 lg:col-span-1 lg:col-start-3">
    <img src="/images/work/dig-and-build/models.png" class="mb-5 lg:col-span-3">
    

    <ProjectHeader>The Space</ProjectHeader>
    <ProjectParagraph>
      Later during my research on Drenthe, I found out an unique byproduct of the building process of the N34: the sand lake. The sand is dug out for highway construction and later the sand hole gets filled with water to become recreation lake. This dig and build process is an interesting example of coexisting of human development and nature. Near N34 there are two lakes like this: Het Nije Hemelriek and Het Veenmeer. 
    </ProjectParagraph>
    <img src="/images/work/dig-and-build/highway.png" class="mb-5 lg:mb-24 lg:col-span-3">
    <img src="/images/work/dig-and-build/lake-1.png" class="lg:col-span-2">
    <img src="/images/work/dig-and-build/lake-2.png" class="mb-5 lg:mb-24 lg:col-span-2 lg:col-start-2">
    <img src="/images/work/dig-and-build/lake.png" class="mb-5 lg:col-span-3">


    <ProjectHeader>Design Proposal</ProjectHeader>
    <ProjectParagraph>
      To show the dig and build relationship between sand lakes and N34, I connect them back to each other with a route. For Het Veenmeer, which is about 2 kilometers away from the N34 a driving route is created. For Het Nije Hemelriek, which is about 600 meters away from the N34, a walking route is created. Two groups of objects are selected from the Japanese story, one tells the dig story, the other tells the build story. They are placed along the route between sand lake and the N34. Dig and build gets reconnected, new narrative and experience are created.
    </ProjectParagraph>
    <ProjectVideo youtubeId="Mon9UBI5v5I"></ProjectVideo>
    <img src="/images/work/dig-and-build/dig.png" class="mt-5 lg:mt-24 mb-5 lg:mb-12 lg:col-span-3">
    <img src="/images/work/dig-and-build/build.png" class="mb-5 lg:mb-24 lg:col-span-3">
    <img src="/images/work/dig-and-build/walkpath-1.png" class="mb-5 lg:mb-0 lg:col-span-2">
    <img src="/images/work/dig-and-build/walkpath-2.png" class="mb-5 lg:mb-24 lg:col-span-2 lg:col-start-2">
    <img src="/images/work/dig-and-build/bridge-2.png" class="mb-5 lg:mb-0 lg:col-span-2 lg:col-start-2">
    <img src="/images/work/dig-and-build/bridge-1.png" class="mb-5 lg:col-span-2">



  </div>
</BaseLayout>