---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectHeader from '../../components/ProjectHeader.astro';
import ProjectOverview from '../../components/ProjectOverview.astro';
import ProjectParagraph from '../../components/ProjectParagraph.astro';

const title = "OBELL";

---
<BaseLayout pageTitle={title}>
  <div class="grid grid-cols-1 lg:grid-cols-zoe">
    <ProjectOverview title={title} image="/images/work/obell/header.png">
      <div slot="highlights">
        <p><strong>Individual</strong> design project</p>
        <p><strong>Project date:</strong> Apr 2016 - Jun 2016</p>
      </div>
      <div slot="summary">
        <p>Shape and material are seen and felt the first when people are interacting with a physical product. In the conventional product design process, shape and material are usually determined after knowing the function of the product. What will happen when you turn this process around? This project started with shape study, then the shape is given material based on its shape features, then the object (with certain shape and material) is given function based on its shape and material.</p>
        <p><br /></p>
        <p>The goal of this project is to explore and train the design sensitivity about shape and material, and how to translate the expression and language of shape and material into a proper product.</p>
      </div>
    </ProjectOverview>

    <ProjectHeader>Shape Study</ProjectHeader>
    <img src="/images/work/obell/shape.png" class="lg:col-span-3">
    <img src="/images/work/obell/selected-shape.png" class="lg:col-span-3">

    <ProjectHeader>From Shape To Material</ProjectHeader>
    <img src="/images/work/obell/material.png" class="mb-5 lg:mb-24 lg:col-span-2 lg:col-start-2">
    <img src="/images/work/obell/composition.png" class="mb-5 lg:col-span-3">

    <ProjectHeader>From Material To Design</ProjectHeader>
    <ProjectParagraph>Inspired by the softness of the wax material and how it feels while holding this shape. I have designed a two-in-one power bank and speaker.</ProjectParagraph>
    <img src="/images/work/obell/wax.png" class="mb-5 lg:mb-24 lg:col-span-2">
    <img src="/images/work/obell/final-design.png" class="mb-5 lg:col-span-2 lg:col-start-2">
  </div>
</BaseLayout>