---
const {title} = Astro.props;
const path = Astro.site.pathname;

---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
</head>
<body>
  <header class="flex flex-row justify-between mb-60 sticky p-6 top-0 bg-white">
    <h1 class="text-xl font-bold"><a href={path}>Rui Hu</a></h1>
    <nav class="flex space-x-14 mr-14">
      <a href={path + 'work'} class="text-xl">Work</a>
      <a href={path + 'about'} class="text-xl">About</a>
    </nav>
  </header>
  <main class="mx-6 sm:mx-20">
    <slot />
  </main>
</body>
</html>
