---
const {pageTitle} = Astro.props;

---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Rui Hu - {pageTitle}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <style global>
      @import "../styles/global.css";
    </style>
</head>
<body class="xl:mx-auto xl:max-w-7xl min-h-screen">
  <header class="flex flex-row justify-between mb-28 lg:mb-60 sticky p-6 top-0 bg-white">
    <h1 class="text-xl font-bold"><a href="/">Rui Hu</a></h1>
    <nav class="flex space-x-14 sm:mr-14">
      <a href="/work" class="text-xl">Work</a>
      <a href="/about" class="text-xl">About</a>
    </nav>
  </header>
  <main class="mx-6 sm:mx-20">
    <slot />
  </main>
  <footer class="p-6 text-sm text-center mt-28 sm:mt-60">
    Rui Hu 2022
  </footer>
</body>
</html>
