---
const { pageTitle } = Astro.props;

let path = Astro.request.url;
let work = "Work";
let about = "About";

if (path.toString().includes('/work')) {
  work = "<strong>" + work + "</strong>";
}

if (path.toString().includes('/about')) {
  about = "<strong>" + about + "</strong>";
}
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Rui Hu - {pageTitle}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <style global>
      @import "../styles/global.css";
    </style>
</head>
<body class="xl:mx-auto xl:max-w-7xl min-h-screen">
  <header class="flex flex-row justify-between mb-28 lg:mb-60 sticky p-6 top-0 bg-white">
    <h1 class="text-xl font-bold"><a href="/">Rui Hu</a></h1>
    <nav class="flex space-x-14 sm:mr-14">
      <a href="/work" class="text-xl">{work}</a>
      <a href="/about" class="text-xl">{about}</a>
    </nav>
  </header>
  <main class="mx-6 sm:mx-20">
    <slot />
  </main>
  <footer class="p-6 text-sm text-center mt-24">
    Rui Hu 2022
  </footer>
</body>
</html>
